
   
<div class="topshop-banner">
    <video controls loop playsinline poster="https://content.asos-media.com/-/media/hubs/topshop-topman/tstm-december-2023/tstm-dec-refresh/uk-au-row-us/topshop/desktop/ts_lp_hero_dt_1440x810_cta.jpg">
        <source src="https://video.asos-media.com/Navigation/_content_TS_LP_HERO_VIDEO_DT_1440x810_29-11-23_Flash9_1440xAuto_2500K.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="topshop-text"></div>
    <a href="#" class="discover-link">Discover more</a>
</div>



<div class="container my-4">
    <div id="fashionCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner text-center">

         
            <div class="carousel-item active">
                <div class="row justify-content-center g-1">  
                    <div class="col-6 col-md-4">
                        <img src="webpicslandingpage/mi1.png" class="img-fluid rounded shadow mx-auto d-block" alt="Coats & jackets">
                       
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="webpicslandingpage/mi2.png" class="img-fluid rounded shadow mx-auto d-block" alt="Knitwear">
                        
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="webpicslandingpage/mi3.png" class="img-fluid rounded shadow mx-auto d-block" alt="Dresses">
                        
                    </div>
                </div>
            </div>

        
            <div class="carousel-item">
                <div class="row justify-content-center g-1">  
                    <div class="col-6 col-md-4">
                        <img src="webpicslandingpage/mi3.png" class="img-fluid rounded shadow mx-auto d-block" alt="Dresses">
                        
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="webpicslandingpage/mi4.png" class="img-fluid rounded shadow mx-auto d-block" alt="Tops">
                        
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="webpicslandingpage/mi5.png" class="img-fluid rounded shadow mx-auto d-block" alt="Jeans">
                       
                    </div>
                </div>
            </div>

        </div>

       
        <button class="carousel-control-prev" type="button" data-bs-target="#fashionCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#fashionCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

       
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#fashionCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#fashionCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>

    </div>
</div>


<p class="caption">New staples in mix-and-match textures + tonal hues</p>
</div>


<div class="slider1-container">
    <img class="image-slide" src="webpicslandingpage/mo1.png" alt="Fashion Banner">
</div>

<div class="container mt-5">
    <h2 class="text-center">Wardrobe Staples</h2>
    <div id="wardrobeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms1.png" class="card-img-top" alt="Topshop Straight Kort Jeans">
                            <div class="card-body">
                                <h5 class="card-title">Straight Kort Jeans</h5>
                                <p class="card-text">Mid Blue</p>
                                <span class="price"><s>£49.00</s> <strong>£29.50</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms2.png" class="card-img-top" alt="Topshop Jamie Flare Jeans">
                            <div class="card-body">
                                <h5 class="card-title">Jamie Flare Jeans</h5>
                                <p class="card-text">High Rise - Mid Blue</p>
                                <span class="price"><s>£49.00</s> <strong>£36.75</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms3.png" class="card-img-top" alt="Topshop Cinch Jeans">
                            <div class="card-body">
                                <h5 class="card-title">Cinch Jeans</h5>
                                <p class="card-text">Low Rise - Raw Indigo</p>
                                <span class="price"><s>£49.00</s> <strong>£29.40</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms4.png" class="card-img-top" alt="Topshop Ember Jeans">
                            <div class="card-body">
                                <h5 class="card-title">Ember Jeans</h5>
                                <p class="card-text">Low Rise - Wide Leg - Black</p>
                                <span class="price"><s>£49.00</s> <strong>£36.75</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms5.png" class="card-img-top" alt="Topshop Puff Sleeve Top">
                            <div class="card-body">
                                <h5 class="card-title">Puff Sleeve Top</h5>
                                <p class="card-text">Green</p>
                                <span class="price"><strong>£36.00</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms6.png" class="card-img-top" alt="Topshop Ruched Neck Top">
                            <div class="card-body">
                                <h5 class="card-title">Ruched Neck Top</h5>
                                <p class="card-text">Buttermilk</p>
                                <span class="price"><strong>£38.00</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms7.png" class="card-img-top" alt="Topshop Hitched Side Top">
                            <div class="card-body">
                                <h5 class="card-title">Hitched Side Top</h5>
                                <p class="card-text">Burgundy</p>
                                <span class="price"><strong>£30.00</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms8.png" class="card-img-top" alt="Topshop Seamed Sweatshirt">
                            <div class="card-body">
                                <h5 class="card-title">Seamed Sweatshirt</h5>
                                <p class="card-text">Ecru</p>
                                <span class="price"><strong>£30.00</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms9.png" class="card-img-top" alt="Topshop Stripe Trousers">
                            <div class="card-body">
                                <h5 class="card-title">Stripe Wide Leg Trousers</h5>
                                <p class="card-text">Green</p>
                                <span class="price"><strong>£32.00</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms11.png" class="card-img-top" alt="Topshop Polka Dot Trousers">
                            <div class="card-body">
                                <h5 class="card-title">Polka Dot Trousers</h5>
                                <p class="card-text">Brown</p>
                                <span class="price"><s>£38.00</s> <strong>£32.00</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms12.png" class="card-img-top" alt="Topshop Satin Trousers">
                            <div class="card-body">
                                <h5 class="card-title">Satin Drawcord Trousers</h5>
                                <p class="card-text">Green</p>
                                <span class="price"><s>£49.00</s> <strong>£39.00</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <img src="webpicslandingpage/ms13.png" class="card-img-top" alt="Topshop Tailored Trousers">
                            <div class="card-body">
                                <h5 class="card-title">Balloon Pleated Trousers</h5>
                                <p class="card-text">Slate</p>
                                <span class="price"><s>£51.00</s> <strong>£18.00</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#wardrobeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#wardrobeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>





<div class="slider2-container">
    <img class="image-slide" src="webpicslandingpage/mc1.png" alt="Fashion Banner">
</div>


<div class="slider3-container">
    <img class="image-slide" src="webpicslandingpage/mc2.png" alt="Fashion Banner">
</div>
<div class="slider4-container">
    <img class="image-slide" src="webpicslandingpage/mc3.png" alt="Fashion Banner">
</div>